footer {
	position: relative;
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url('https://static.tildacdn.com/tild6163-6635-4565-b435-383963626331/pngwingcom_22.png') 0 0;
		opacity: .1;
		z-index: 5;
	}
	* {
		z-index: 10;
	}
	p {
		position: relative;
		z-index: 20 !important;
		color: #fff;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}
footer ul li {
	font-size: 20px;
	& a:hover {
		color: #fff !important;
	}
}
