@import '@/components/styles/mixins.scss';

.container_count {
	flex: 1 1 auto;
	h2 {
		color: #000;
		}
	}

.container_wrapper {
	.btn_container {
		border-radius: 100%;
		margin-left: 15px;
		.fa-times {
			font-weight: bold;
			font-size: 18px;
			padding: 5px 0px;
		}
	}
	.result_sum {
		@include adaptive-value('font-size', 30, 20, 1);
		span {
			font-weight: bold;
			text-decoration: underline;
		}
	}
	li {
		position: relative;
		background: rgba(34, 79, 43, .1);
		border-radius: 10px;
		padding: 10px;
		@include adaptive-value('font-size', 28, 16, 1);
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		list-style: none;
		position: relative;
		margin-left: 10px;
		margin-top: 10px;
		span {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			@include adaptive-value('left', 280, 150, 1);
			@include adaptive-value('font-size', 24, 16, 1);
			align-items: center;
			color: #224F2B;
			font-weight: bold;
		}
		.fa-check-circle-o {
			position: absolute;
			top: 30%;
			left: -40px;
			width: 20px;
			height: 20px;
			color: #49ab5c;
			font-size: 30px;
		}
	}
}
.container_result {
	display: flex;
	gap: 30px;
	align-items: center;
	position: relative;
	.fa-shopping-basket {
		position: absolute;
		top: 50%;
		left: -10px;
		@include adaptive-value('font-size', 36, 30, 1);
		transform: translate(-50%,-50%);
	}
	.result_sum {
		margin-left: 20px;
		font-weight: normal;
		flex: 1 1 50%;
		text-align: center;
		@include adaptive-value('font-size', 36, 16, 1);
		span {
			@include adaptive-value('font-size', 36, 20, 1);
			font-weight: bold;
		}
	}
	button {
		@include adaptive-value('font-size', 30, 20, 1);
	}
}
.spinner {
	padding: 30px;
	font-size: 50px;
	display: block;
	margin: 40vh auto;
	color: #6dc07e !important;
}
.success {
	text-align: center;
	color: #6dc07e !important;
	font-size: 36px;
}

.container_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	.btn {
		flex: 1 0 30%;
		margin: 10px;
		padding: 10px;
		@include adaptive-value('font-size', 24, 14, 1)
	}
}

.modal-footer {
	.btn {
		width: 100%;
	}
}